@using Sitecore.Mvc
@using Sitecore.Feature.Course
@model Sitecore.Feature.Course.Models.CourseListingModel
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- start course content container -->
                            <div class="mu-course-container">

                                <div class="row" id="data">
                                    @foreach (var item in Model.Courses)
                                        {
                                            <div class="col-md-6 col-sm-6">
                                                <div class="mu-latest-course-single">
                                                    <figure class="mu-latest-course-img">
                                                        <a href="#">@Html.Sitecore().Field(Templates.CourseItem.Fields.Image.ToString(), item)</a>
                                                        <figcaption class="mu-latest-course-imgcaption">
                                                            <a href="#">@item.Fields[Templates.CourseItem.Fields.Major]</a>
                                                            <span><i class="fa fa-clock-o"></i>@item.Fields[Templates.CourseItem.Fields.CountTime]</span>
                                                        </figcaption>
                                                    </figure>
                                                    <div class="mu-latest-course-single-content">
                                                        <h4><a href="#">@item.Fields[Templates.CourseItem.Fields.Header]</a></h4>
                                                        <p>@item.Fields[Templates.CourseItem.Fields.Description]</p>
                                                        <div class="mu-latest-course-single-contbottom">
                                                            <a class="mu-course-details" href="course/@item.Name">Details</a>
                                                            <span class="mu-course-price" href="#">$@item.Fields[Templates.CourseItem.Fields.Price]</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                </div>
                            </div>
                            <!-- end course content container -->
                            <!-- start course pagination -->
                            <div class="mu-pagination">
                                <nav>
                                    <ul class="pagination">
                                        <li>
                                            <a href="javascript:nextToPage(1,'@Model.CourseId',@Model.ItemsCount)" aria-label="First">
                                                <span class="fa fa-angle-left"></span> First
                                            </a>
                                        </li>
                                        @for (int i = 1; i <= Model.PageMax ; i++)
                                        {
                                            <li class="page-list"><a href="javascript:nextToPage(@(i),'@Model.CourseId',@Model.ItemsCount)">@(i)</a></li>
                                        }
                                        @*<li class="active"><a href="javascript:nextToPage(1,'@Model.ID')">1</a></li>
                                            <li><a href="javascript:nextToPage(2,'@Model.ID')">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>*@
                                        <li>
                                            <a href="javascript:nextToPage(@(Model.PageMax),'@Model.CourseId',@Model.ItemsCount)" aria-label="Last">
                                                Last <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end course pagination -->
                        </div>
                        <div class="col-md-3">
                            <!-- start sidebar -->
                            <aside class="mu-sidebar">
                                @Html.Sitecore().Placeholder("popular-course")
                                @Html.Sitecore().Placeholder("tag-major")
                                @*<!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>Archives</h3>
                                    <ul class="mu-sidebar-catg mu-sidebar-archives">
                                        <li><a href="#">May <span>(25)</span></a></li>
                                        <li><a href="">June <span>(35)</span></a></li>
                                        <li><a href="">July <span>(20)</span></a></li>
                                        <li><a href="">August <span>(125)</span></a></li>
                                        <li><a href="">September <span>(45)</span></a></li>
                                        <li><a href="">October <span>(85)</span></a></li>
                                    </ul>
                                </div>
                                <!-- end single sidebar -->*@
                            </aside>
                            <!-- / end sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/Course/Course.js"></script>
<script>
    var pageParam = new URL(window.location.href).searchParams.get("page");
    if (pageParam == null || (parseInt(pageParam) > parseInt(@Model.CoursesSize))) {
      pageParam = 1;
    }
    nextToPage(pageParam, "@Model.CourseId",@Model.ItemsCount);
</script>